/* Contenedor principal de los detalles del videojuego */
.game-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Título de los detalles del videojuego */
.game-detail-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

/* Imagen del videojuego */
.game-image {
    width: 80%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Descripción del videojuego */
.game-description {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Detalles adicionales */
.game-details {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
    color: #fff;
}

/* Contenedor para el tráiler */
.trailer-container {
    margin-top: 20px;
}

/* Título del tráiler */
.trailer-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Video del tráiler */
.trailer-video {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Estilo para el texto de carga */
.loading {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
}

/* Estilo para los logros y trofeos */
.game-achievements {
    margin-top: 20px;
}

/* Título de logros y trofeos */
.achievements-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Lista de logros */
.achievements-list {
    list-style: none;
    padding: 0;
}

/* Estilo de los logros */
.achievement-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: bold;
}

/* Estilo para el nombre y descripción de los logros */
.achievement-item strong {
    color: #ffffff; /* Color blanco para los nombres */
}

.achievement-item div {
    color: #ffffff; /* Color blanco para las descripciones */
}

/* Icono de los logros */
.achievement-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

/* Contenedor de las imagenes del videojuego */
.screenshots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 90%;
    margin: 0 auto;
}

/* Grid de las imagenes */
.screenshots-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

/* Estilo de las imágenes */
.screenshots-image {
    max-width: 400px; 
    width: 100%; 
    height: auto;
    object-fit: contain; /* Mantiene la imagen dentro del área */
    border-radius: 8px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

 /* Estilos para los DLCs */
.dlcs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
}

/* Estilo de cada DLCs */
.dlc-item {
    width: 200px;
    text-align: center;
}

/* Enlace para el DLC */
.dlc-item-link {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit;
}

/* Efecto hover en los enlaces de DLC */
.dlc-item-link:hover {
    opacity: 0.8; /* Opacidad reducidad */
}

/* Estilo de las imágenes de los DLCs */
.dlc-image {
    width: 200px;
    height: 120px;
    object-fit: contain;
    border-radius: 8px;
    background-color: #222;
}



